body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    color: #999;
    text-align: center;
    padding: 14px 16px;
    position: relative; 
    top: 7px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    color: #191919;
  }
  
  .nav a.active {
    color: #191919;
    font-weight: bold;
  }
  
  .head h1 {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 26px;
  }
  
  .head p {
    text-align: center;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -25px;
    font-size: 14px;
    color: #999;
  }
  
  .box-wrapper {
    text-align: center;
  }

  .projectbox-info {
    width: 345px;
    height: 84px;
    background-color: #f3f3f3f9;
    margin: auto;
    position: relative;
    top: -4px;
  }

  .app-name {
    font-size: 14px;
    color: #191919;
    position: relative;
    top: -81px;
  }

  .date {
    font-size: 14px;
    color: #999;
    position: relative;
    top: -88px;
  }

  .box-wrapper-2 {
    text-align: center;
  }

  .projectbox2-image {
    position: relative;
    top: -50px;
  }

  .projectbox2-info {
    width: 345px;
    height: 84px;
    background-color: #f3f3f3f9;
    margin: auto;
    position: relative;
    top: -54px;
  }

  .app-name-2 {
    font-size: 14px;
    color: #191919;
    position: relative;
    top: -131px;
  }

  .date-2 {
    font-size: 14px;
    color: #999;
    position: relative;
    top: -138px;
  }

  .box-wrapper-3 {
    text-align: center;
  }

  .projectbox3-image {
    position: relative;
    top: -100px;
  }

  .projectbox3-info {
    width: 345px;
    height: 84px;
    background-color: #f3f3f3f9;
    margin: auto;
    position: relative;
    top: -104px;
  }

  .app-name-3 {
    font-size: 14px;
    color: #191919;
    position: relative;
    top: -181px;
  }

  .date-3 {
    font-size: 14px;
    color: #999;
    position: relative;
    top: -188px;
  }