body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    color: #999;
    text-align: center;
    padding: 14px 16px;
    position: relative; 
    top: 7px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    color: #191919;
  }
  
  .nav a.active {
    color: #191919;
    font-weight: bold;
  }

  .head h1 {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 20px;
    font-size: 26px;
  }
  
  .head p {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 20px;
    position: relative;
    top: -25px;
    font-size: 14px;
    color: #999;
  }

/*  .contact-form {
    text-align: center;
} */

  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  position: relative;
  left: 1rem;

}

input[type=submit] { /* the submit button */
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 1rem;
  
}

input[type=submit]:hover {
  background-color: #45a049;
}